.Main, .container{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background-color:#000;
  display: flex;
  align-items: center;
}

.Main__wrap{
  display:inline-block;
  margin:0 auto;
}

/* 게임 선택하는 부분 */
.container__main{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  color:#fff;
  display: flex;
  align-items: center;
}
h1{
  width:100%;
  margin:0;
  padding-top: 20px;
  color:#fff;
  text-align:center;
  font-size:80px;
  font-weight:400;
  margin-bottom:100px;
}
.button-wrap {
  text-align:center;
  margin-bottom: 30px;
}
.gameScore-btn1,.gameScore-btn2,.gameScore-btn3,.gameScore-btn4 {
  padding:10px 30px;
  font-size:20px;
  border:3px solid #fff;
  border-radius:10px;
  background-color:rgba(255,255,255,0.2);
  color:#fff;
  cursor:pointer;
}
.gameScore-btn1:hover,.gameScore-btn2:hover,.gameScore-btn3:hover,.gameScore-btn4:hover{
  background-color:rgba(255,255,255,0.4);
  cursor:pointer;
}
.gameScore-wrap {
  margin: 0 auto;
}
.container__gameScore{
  width:100%;
  height:60%;
  text-align: center;
}
.button-div {
  margin: 0 auto;
  overflow: hidden;
}
.container__gameScore--btn{
  height:70px;
  border-radius:10px;
  border:3px solid #fff;
  background-color:rgba(0,0,0,0);
  color:#fff;
  display:block;
  margin:20px 0;
  padding:10px 20px;
  font-size:30px;
  cursor:pointer;
  font-family: 'Permanent Marker', cursive;
  cursor:pointer;
  float: left;
}
.container__gameScore--btn:hover{
  background-color:rgba(255,255,255,0.2);
}
.container__gameScore--btn > a{
  color:#fff;
  text-decoration:none;
}
.left-win, .left-lose, .right-win, .right-lose {
  float: left;
  display: block;
  font-size: 50px;
}

/* 개인 스코어 나타내는 부분 */
.container__personalScore{
  width:200px;
  height:100%;
  float:left;
}
.container__personalScore--content{
  width:100%;
  height:calc(100% / 8);
  border-radius:50px 0 0 50px;
  background-color:#fff;
}
.container__personalScore--info{
  width:50%;
  height:100%;
  float:left;
  display:flex;
  align-items:center;
}
.container__personalScore--info > p{
  margin:0;
  text-align:center;
}
.container__personalScore--img{
  width:80%;
}
.container__personalScore--name{
  width:100%;
  font-size:20px;
  text-align:center;
  display:inline-block;
}
.container__personalScore--score{
  width:50%;
  height:100%;
  margin:0;
  float:left;
  text-align:center;
  font-size:70px;
  display:flex;
  align-items:center;
}
.container__personalScore--score > span{
  margin:0 auto;
}
.container__imgGameBtn{
  width:100px;
  height:100px;
  border-radius:50px;
  border:3px solid #fff;
  color:#fff;
  position:absolute;
  left:100px;
  bottom:100px;
  background-color:rgba(0,0,0,0);
  cursor:pointer;
  font-size:16px;
  line-height:20px;
  transition:all 0.5s;
}
.container__imgGameBtn:hover{
  background-color:rgba(255,255,255,0.2);
  transform: rotate(360deg);
}
.container__imgGameBtn > a{
  text-decoration:none;
  color:#fff;
}
.red {
  background-color: red;
}
.blue { 
  background-color: blue;
}
